@use "../../styles/variables" as *;

.gameInstructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/backgroundGameInstructions.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-position: center;

  &__text {
    width: 40rem;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}
