@use "../../styles/variables.scss" as *;

.story__container {
height:100vh ;
width: 100vw;
background-image: url(../../assets/images/background.png);
background-size: 100vw 100vh;
background-repeat: no-repeat;
text-align: center;

}