@use "../../styles/variables.scss" as *;

.button-primary {
  width: 12rem;
  height: 4rem;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-family: $font-secondary;
}

.button-secondary {
  width: 16.8rem;
  height: 2.8rem;
  padding: 0.5rem;
  background-color: $color-primary;
  border-radius: 0.2rem;
  color: $color-white;
  font-family: $font-secondary;
}


.button-logout {
  width: 11.9rem;
  height: 3.3rem;
  padding: 0.5rem;
  background-color: #272E3F;
  border: none;
  color: $color-white;
  font-family: $font-primary;
}

.button-levels {
  width: 16.8rem;
  height: 2.8rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid $color-white;
  border-radius: 0.2rem;
  color: $color-white;
  font-family: $font-secondary;
}
