@use "../../styles/reset.scss" as *;
@use "../../styles/variables.scss" as *;

.avatar-heading {
  width: 35rem;
  height: max-content;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;

  &__text {
    font-family: $font-secondary;
    color: $color-primary;
    font-size: 4rem;
    text-align: center;
    line-height: 5rem;
    letter-spacing: 0.02em;
    text-shadow: -0.05em -0.05em 0 $color-text-border,
      0.05em -0.05em 0 $color-text-border, -0.05em 0.05em 0 $color-text-border,
      0.05em 0.05em 0 $color-text-border;
  }
}
