@use "../../styles/variables" as *;

.timer {
  font-family: $font-secondary;
  color: $color-white;
  background: none;
  font-size: 5rem;
  text-align: center;

  &__s {
    font-family: $font-secondary;
    color: $color-white;
    font-size: 3rem;
  }
}
