@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$color-white: #ffffff;
$color-primary: #a8f48d;
$color-secondary-light: #1e2639;
$color-secondary-dark: #1e2332;
$color-accent: #9baacf;

//text
$font-primary:'Inter'; // body
$font-secondary: "Koulen"; // header => formula condensed was unavailable so this was used instead.