@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$color-white: #ffffff;
$color-primary: #a8f48d;
$color-secondary-light: #1e2639;
$color-secondary-dark: #1e2332;
$color-accent: #9baacf;
$color-border: #3f4f74;
$color-text-border: #415839;
<<<<<<< HEAD
<<<<<<< HEAD
$color-dropdown: #424B62;
=======
=======
>>>>>>> e3e8a086a5b5e9bbc200d76e47ccf14e7dd961b9
$color-button-right: #7DC833;
$color-button-right-hover: #abe76e;
$color-button-wrong: #F27B39;
$color-button-wrong-hover: #ee9260;
$color-validation-button-background: rgba(0, 0, 0, 0.46);

<<<<<<< HEAD
>>>>>>> e3e8a086a5b5e9bbc200d76e47ccf14e7dd961b9
=======
>>>>>>> e3e8a086a5b5e9bbc200d76e47ccf14e7dd961b9

//text
$font-primary:'Inter';
$font-secondary: "Koulen";
