@use "../../styles/variables" as *;
  

.intro {
 height: 20rem;
 width: 51rem;
 margin: auto;
 margin-top: 15rem;

  &__paragraph {
    color: $color-primary;
    font-family: $font-primary;
    font-size: 2rem;
    text-align: center;
  }
}