@use '../../styles/variables' as *;

.oomsneeds-container {
  position: absolute;
  top: 1%;
  left: 69%;
  width: 30%;
  height: 5rem;
  background: $color-validation-button-background;
  border-radius: 4rem;
  display: flex;
  justify-content: space-around;
}
