@use '../../styles/variables' as *;

.needs-container {
  position: absolute;
  top: 1%;
  left: 74%;
  width: 25rem;
  height: 5rem;
  background: $color-validation-button-background;
  border-radius: 4rem;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1100px) {
  .needs-container {
    position: relative;
    width: 9rem;
    height: 2rem;
    left: 70%;
  }
}
